<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap" rel="stylesheet">
    <title>Daniel Madar Awards</title>
    <link rel="stylesheet" href={{ url_for('static', filename='css/awards.css')}}/>
</head>

<body>
    
    <p>Dell Excellence Awards</p>    
    <a href="static/images/excellenceDell_2.png"> <img class="dell1" src="static/images/excellenceDell_2.png"></a>
    <a href="static/images/excellenceDell_1.png"> <img class="dell2" src="static/images/excellenceDell_1.png"></a>    
    
    <p>Western Digital Excellence Awards</p>
    <a href="static/images/excellenceWdc_1.png"> <img class="wdc1" src="static/images/excellenceWdc_1.png"></a>
    <a href="static/images/excellenceWdc_2.png"> <img class="wdc2" src="static/images/excellenceWdc_2.png"></a>    
</body>
</html>




